body {
  margin: 0;
  text-align: center;
}

h1 {
  position: relative;
  top: 100px;
}

h2 {
  color: #006E7F;
  font-family: 'Roboto', sans-serif;
  font-size: 1.875rem;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 30%;
}

h3 {
  color: #006E7F;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  margin: 0 auto;
  margin-top: 20px;
}

hr {
  border-width: 5px;
  border-color: #DAE5D0;
  border-style: dotted none none;
  width: 60%
}

p {
  font-family: 'Gentium Plus', Garamond, serif;
  font-size: 1.25rem;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 30px
}

a {
  color: #006E7F;
  text-decoration: none;
}

.h2topContainer {
  font-family: 'Gentium Plus', Garamond, serif;
  font-size: 1.5rem;
  font-weight: normal;
  position: relative;
  top: 100px;
}

.topContainer {
  background-color: #DAE5D0;
  padding-top: 100px;
}

.h1topContainer {
  color: #006E7F;
  font-family: 'Sacramento', Lucida Handwriting, cursive;
  font-size: 6.25rem;
  width: 100%;
  margin: 0 auto;
}

.ptopContainer {
  color: #006E7F;
  font-family: 'Gentium Plus', Garamond, serif;
  font-size: 156.25%;
  width: 30%;
  margin: 0 auto;
  margin-top: 20px
}

.moonImg {
  position: relative;
  bottom: 250px;
  left: 550px
}

.planeImg {
  position: relative;
  bottom: 50px;
  right: 600px
}

.avatarImg {
  height: 100px
}

.developImg {
  float: left;
  height: 150px;
  margin-right: 20px
}

.designImg {
  float: right;
  height: 150px;
  margin-left: 20px
}

.developRow {
  margin: 100px 100px;
  text-align: left;
  line-height: 2;
}

.designRow {
  margin: 100px;
  text-align: right;
  line-height: 2;
}

.btn {
  background: #11cdd4;
  background-image: linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.middleContainer {
  margin-bottom: 50px
}

.bottomContainer {
  background-color: #DAE5D0;
  padding: 10px 0 10px
}

.copyright {
  color: #006E7F;
  font-size: 1rem;
  margin: 20px 0 0
}
